doctype html
html
  head
    title File Metadata Microservice, By Jacob Stoebel
  body
    h1 File Metadata Microservice, By Jacob Stoebel
    p This microservice fufills the assignment on Freecodecamp.com #[a(href="https://www.freecodecamp.com/challenges/file-metadata-microservices" target="_blank") here].
    h2 User stories
    ul
      li I can submit a FormData object that includes a file upload.
      li When I submit something, I will receive the file size in bytes within the JSON response

    h2 How to use: 
    p Upload a file below. The service will reply with the file's size.
      
    form(method="post",enctype="multipart/form-data",action="/upload")
      p
        input(type="file",name="upload")
      p
        input(type="submit")
